body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
				
				
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}
	
	#diol
	{
		width: 500px;
		padding: 30px;
		height: 300px;
	}
	
	#lol
	{
		display:inline;
		
	}
	.galeria
	{
		border-style:double;
		width: 500px;
		height: 300px;
		display:inline-block
		
	}
	
#body {
Background-image:url("../imagenes/background.jpg");
Background-size:100vw 150vh;
Margin: 0;
Font-family:monoespace; 
}
#form {
Width:500px;
Margin.auto;
padding:20px 30px ;
Box-sizing: border-box;
Margin-top:30px;
Boder-radius:10px; 
}
#h1 {
Color:F0FFFF;
Text-align:center;
Margin: 0;
Font-size:40px;
Margin-bottom:30px;
font-style:italic;
}
#input {
Width:100%;
Margin-bottom:30px;
Padding:8px;
Box-sizing:border-box;
Font-size:18px;
}
#button{
Background:0080FF; 
color:#7FB3D5  ;
Padding:30px;
}
#button:hover {
Cursor:pointer;
}

#tnt
{
	color:F0FFFF;
}
#hhh
{
	border-style:double
}